<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="viewport" content="user-scalable=no, width=device-width"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="http://at.alicdn.com/t/font_1551254_sk7y2quxfyq.css" rel="stylesheet" type="text/css"/>
    <link href="https://src.axui.cn/v1.0/src/plugins/sweetalert2/css/sweetalert2.css" rel="stylesheet" type="text/css" >
    <link href="/plugins/mobiscroll/css/mobiscroll.jquery.css" rel="stylesheet" type="text/css" >
    <link href="/css/ax.css?v=1.1" rel="stylesheet" type="text/css">
    <link href="/css/ax-response.css?v=1.1" rel="stylesheet" type="text/css">
    <link href="/css/ax-admin01.css?v=1.1" rel="stylesheet" type="text/css">
    <link href="https://src.axui.cn/v1.0/src/plugins/sweetalert2/css/sweetalert2.css" rel="stylesheet" type="text/css">
    <link href="https://at.alicdn.com/t/font_1551254_rxrrzgz2kjc.css" rel="stylesheet" type="text/css" />
    <title>工作组消息</title>
</head>
<body>
<div class="ax-flex-col ax-padding">
    <div class="ax-border ax-shadow-border ax-padding" id="header">
        <div class="ax-grid ax-space ax-split">
            <ul class="ax-grid-inner">
                <li class="ax-grid-block ax-col-5">
                    <div class="ax-row ax-input-group">
                        <span class="ax-title ax-btn">发起人</span>
                        <div class="ax-flex-block">
                            <input name="originatorName" placeholder="输入发起人名称" type="text">
                        </div>
                    </div>
                </li>
                <li class="ax-grid-block ax-col-5">
                    <div class="ax-row ax-input-group">
                        <span class="ax-title ax-btn">接收人</span>
                        <div class="ax-flex-block">
                            <input name="receiverName" placeholder="输入接受人名称" type="text">
                        </div>
                    </div>
                </li>
                <li class="ax-grid-block ax-col-5">
                    <div class="ax-row ax-input-group">
                        <span class="ax-title ax-btn">工作组名称</span>
                        <div class="ax-flex-block">
                            <input name="groupName" placeholder="输入工作组名称" type="text">
                        </div>
                    </div>
                </li>
                <li class="ax-grid-block ax-col-4">
                    <div class="ax-row ax-input-group">
                        <span class="ax-title ax-btn">消息类型</span>
                        <div class="ax-flex-block">
                            <select class="ax-select" name="msgType">
                                <option value="0">不限</option>
                                <option value="邀请您加入">受邀加入</option>
                                <option value="请求加入">请求加入</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="ax-grid-block ax-col-1"></li>
                <li class="ax-grid-block ax-col-4">
                    <a href="###" class="ax-btn ax-primary ax-full" id="queryBtn">检索</a>
                </li>

                <li class="ax-grid-block ax-col-1"></li>
                <li class="ax-grid-block ax-col-6">
                    <div class="ax-row ax-input-group">
                        <span class="ax-title ax-btn">发起日期</span>
                        <div class="ax-flex-block">
                            <div class="ax-row">
                                <div class="ax-col ax-col-12">
                                    <input name="beginDate" placeholder="起始日期" id="beginDate" type="text">
                                </div>
                                <div class="ax-gutter-sm"></div>
                                <div class="ax-col ax-col-12">
                                    <input name="endDate" placeholder="截止日期" id="endDate" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="ax-grid-block ax-col-16">
                </li>
            </ul>
        </div>

    </div>
    <div class="ax-border ax-shadow-border ax-padding">
        <table class="ax-table" id="dataTable">
            <thead>
            <tr>
                <td>发起人</td>
                <td>接收人</td>
                <td>工作组</td>
                <td>消息类型</td>
                <td>发起时间</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>



<script src="/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="https://src.axui.cn/v1.0/src/plugins/sweetalert2/js/sweetalert2.min.js" type="text/javascript"></script>
<script src="/plugins/mobiscroll/js/mobiscroll.jquery.min.js" type="text/javascript"></script>
<script src="/js/ax.min.js" type="text/javascript"></script>
<script src="https://src.axui.cn/v1.0/src/plugins/list/list.min.js" type="text/javascript"></script>
<script src="/js/svgSprites.js" type="text/javascript"></script>
<script type="text/javascript" src="https://src.axui.cn/v1.0/src/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="https://src.axui.cn/v1.0/src/plugins/sweetalert2/js/sweetalert2.min.js" type="text/javascript"></script>
<script src="/js/utils.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript">
    $(function () {
        // 初始化配置
        init();

        var dataTable=$('#dataTable').DataTable({
            sDom: "lfrtip"
        });

        // 工作组消息
        queryAllMsgByConditions(dataTable);

        // 工作组消息事件绑定
        $("#queryBtn").click(function () {
            queryAllMsgByConditions(dataTable);
        });
    });

    // 查询工作组消息
    function queryAllMsgByConditions(dataTable) {
        var formData=new FormData();
        var originatorName=$("#header input[name=originatorName]").val();
        var receiverName=$("#header input[name=receiverName]").val();
        var groupName=$("#header input[name=groupName]").val();
        var msgType=$("#header select[name=msgType]").val();
        var beginDate=$("#header input[name=beginDate]").val();
        var endDate=$("#header input[name=endDate]").val();
        if(originatorName.length>0){
            formData.append("originatorName",originatorName);
        }
        if(receiverName.length>0){
            formData.append("receiverName",receiverName)
        }
        if(groupName.length>0){
            formData.append("groupName",groupName);
        }
        if(msgType!=='0'){
            formData.append("messageType",msgType);
        }
        if(beginDate.length>0){
            formData.append("beginTime",beginDate.replaceAll("/","-")+" 00:00:00");
        }
        if(endDate.length>0){
            formData.append("endTime",endDate.replaceAll("/","-")+" 00:00:00");
        }
        post("/groupMessage/queryAllMsgByConditions",formData,function (res) {
            if(res.success){
                var records=res.result;
                dataTable.clear();
                for(var i=0;i<records.length;i++){
                    var btns='<a href="###" class="ax-btn ax-sm ax-danger deleteMsg">移除</a>';
                    var row=$('<tr data-val="'+records[i].messageId+'">' +
                        '                <td ><a href="###" class="ax-avatar ax-xs ax-round" style="background-image: url('+records[i].originatorImgUrl+')"></a>'+records[i].originatorName+'</td>' +
                        '                <td ><a href="###" class="ax-avatar ax-xs ax-round" style="background-image: url('+records[i].receiverImgUrl+')"></a>'+records[i].receiverName+'</td>' +
                        '                <td ><a href="###" class="ax-avatar ax-xs ax-round" style="background-image: url('+records[i].groupImgUrl+')"></a>'+records[i].groupName+'</td>' +
                        '                <td><span class="ax-tag ax-success">'+records[i].remarks+'</span></td>' +
                        '                <td>'+records[i].groupMsgTime.split(" ")[0]+'</td>' +
                        '                <td>'+btns+'</td>' +
                        '            </tr>');
                    dataTable.row.add(row);
                }
                dataTable.draw();
                $("table#dataTable tbody>tr").each(function (i) {
                    // 删除事件绑定
                    $(this).find("a.deleteMsg").click(function () {
                        deleteMsg($(this).parent().parent().attr("data-val"));
                    });

                });

            }else{
                toast("warning","操作失败",res.msg);
            }
        })

    }

    // 移除消息
    function deleteMsg(msgId) {
        var formData=new FormData();
        formData.append("messageId",msgId);
        formData.append("messageStatus","3");
        post("/groupMessage/updateMessageStatus",formData,function (res) {
            if(res.success){
                toast("success","操作成功",res.msg);
                $("#queryBtn").click();
            }else{
                toast("warning","操作失败",res.msg);
            }
        })
    }

    // 初始化配置
    function init() {

        //日期选择器绑定
        $('#beginDate,#endDate').mobiscroll().calendar({
            theme: 'ax',
            lang:'zh',
            onBeforeShow:function(event, inst){//显示前的点击事件
                $('#'+this.id).addClass('ax-focus');//input焦点
                //inst.settings.cssClass='ax-mask';//添加遮罩
            },
            onClose: function (event, inst) {//关闭事件
                $('#'+this.id).removeClass('ax-focus');
            },
            display: 'bubble',
        });
    }
</script>
</body>
</html>