<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="viewport" content="user-scalable=no, width=device-width"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="http://at.alicdn.com/t/font_1551254_sk7y2quxfyq.css" rel="stylesheet" type="text/css"/>
    <link href="https://src.axui.cn/src/plugins/sweetalert2/css/sweetalert2.css" rel="stylesheet" type="text/css" >
    <link href="/plugins/mobiscroll/css/mobiscroll.jquery.css" rel="stylesheet" type="text/css" >
    <link href="/css/ax.css?v=1.1" rel="stylesheet" type="text/css">
    <link href="/css/ax-response.css?v=1.1" rel="stylesheet" type="text/css">
    <link href="/css/ax-admin01.css?v=1.1" rel="stylesheet" type="text/css">
    <link href="https://src.axui.cn/src/plugins/sweetalert2/css/sweetalert2.css" rel="stylesheet" type="text/css">
    <link href="https://at.alicdn.com/t/font_1551254_rxrrzgz2kjc.css" rel="stylesheet" type="text/css" />
    <title>工作组素材管理</title>
</head>
<body>
<div class="ax-flex-col ax-padding">
    <div class="ax-border ax-shadow-border ax-padding" id="header">
        <div class="ax-grid ax-space ax-split">
            <ul class="ax-grid-inner">
                <li class="ax-grid-block ax-col-5">
                    <div class="ax-row ax-input-group">
                        <span class="ax-title ax-btn">素材名称</span>
                        <div class="ax-flex-block">
                            <input name="materialName" placeholder="输入素材名称" type="text">
                        </div>
                    </div>
                </li>
                <li class="ax-grid-block ax-col-5">
                    <div class="ax-row ax-input-group">
                        <span class="ax-title ax-btn">所属者</span>
                        <div class="ax-flex-block">
                            <input name="userName" placeholder="输入所属者名称" type="text">
                        </div>
                    </div>
                </li>
                <li class="ax-grid-block ax-col-5">
                    <div class="ax-row ax-input-group">
                        <span class="ax-title ax-btn">素材类型</span>
                        <div class="ax-flex-block">
                            <select class="ax-select" name="groupMaterialType">
                                <option value="0">不限</option>
                                <option value="1">材料</option>
                                <option value="2">成品</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="ax-grid-block ax-col-5"></li>
                <li class="ax-grid-block ax-col-4">
                    <a href="###" class="ax-btn ax-primary ax-full" id="queryBtn">检索</a>
                </li>
                <li class="ax-grid-block ax-col-10">
                    <div class="ax-row ax-input-group">
                        <span class="ax-title ax-btn">上传日期</span>
                        <div class="ax-flex-block">
                            <div class="ax-row">
                                <div class="ax-col ax-col-12">
                                    <input name="beginDate" placeholder="起始日期" id="beginDate" type="text">
                                </div>
                                <div class="ax-gutter-sm"></div>
                                <div class="ax-col ax-col-12">
                                    <input name="endDate" placeholder="截止日期" id="endDate" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="ax-grid-block ax-col-24"></li>
            </ul>
        </div>

    </div>
    <div class="ax-border ax-shadow-border ax-padding">
        <table class="ax-table" id="dataTable">
            <thead>
            <tr>
                <td>素材名称</td>
                <td>素材</td>
                <td>素材类型</td>
                <td>上传者</td>
                <td>上传时间</td>
                <td width="30%">所属工作组</td>
                <td >操作</td>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>




<script src="/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="https://src.axui.cn/src/plugins/sweetalert2/js/sweetalert2.min.js" type="text/javascript"></script>
<script src="/plugins/mobiscroll/js/mobiscroll.jquery.min.js" type="text/javascript"></script>
<script src="/js/ax.min.js" type="text/javascript"></script>
<script src="https://src.axui.cn/src/plugins/list/list.min.js" type="text/javascript"></script>
<script src="/js/svgSprites.js" type="text/javascript"></script>
<script type="text/javascript" src="https://src.axui.cn/src/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="https://src.axui.cn/src/plugins/sweetalert2/js/sweetalert2.min.js" type="text/javascript"></script>
<script src="/js/utils.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript">
    $(function () {
        // 初始化配置
        init();

        var dataTable=$('#dataTable').DataTable({
            sDom: "lfrtip"
        });

        queryAllGroupMaterial(dataTable);

        $("#queryBtn").click(function () {
            queryAllGroupMaterial(dataTable);
        })
    });

    // 查询工作组素材
    function queryAllGroupMaterial(dataTable) {
        var formData=new FormData();
        var userName=$("#header input[name=userName]").val();
        var materialName=$("#header input[name=materialName]").val();
        var groupMaterialType=$("#header select[name=groupMaterialType]").val();
        var beginDate=$("#header input[name=beginDate]").val();
        var endDate=$("#header input[name=endDate]").val();
        if(userName.length>0){
            formData.append("userName",userName);
        }
        if(materialName.length>0){
            formData.append("materialName",materialName)
        }
        if(groupMaterialType!=='0'){
            formData.append("groupMaterialType",groupMaterialType)
        }
        if(beginDate.length>0){
            formData.append("beginTime",beginDate.replaceAll("/","-")+" 00:00:00");
        }
        if(endDate.length>0){
            formData.append("endTime",endDate.replaceAll("/","-")+" 00:00:00");
        }
        post("/group/queryAllGroupMaterial",formData,function (res) {
            if(res.success){
                var records=res.result;
                dataTable.clear();
                for(var i=0;i<records.length;i++){
                    var btns='<a href="###" class="ax-btn ax-sm ax-danger deleteMaterial">删除</a>';
                    var groupList=records[i].groupList;
                    var tags="";
                    if(groupList.length<=0){
                        tags='<span class="ax-tag ax-success">-</span>';
                    }
                    for(var j=0;j<groupList.length;j++){
                        tags+='<span class="ax-tag ax-success">'+groupList[j]+'</span>';
                    }
                    var materialUrls=JSON.parse(records[i].materialUrls);
                    var row=$('<tr data-material="'+records[i].materialId+'" data-group="'+records[i].groupId+'">\n' +
                        '                <td>'+records[i].materialName+'</td>\n' +
                        '                <td ><a href="###" class="ax-avatar ax-xxl" style="background-image: url('+materialUrls.originUrl+')"></a></td>\n' +
                        '                <td>'+(records[i].groupMaterialType===1?"材料":"成品")+'</td>\n' +
                        '                <td class="ax-align-center"><a href="###" class="ax-avatar ax-xs ax-round" style="background-image: url('+records[i].userImgUrl+')"></a>'+records[i].userName+'</td>\n' +
                        '                <td>'+records[i].createTime.split(" ")[0]+'</td>\n' +
                        '                <td>'+tags+'</td>\n' +
                        '                <td>'+btns+'</td>\n' +
                        '            </tr>');
                    dataTable.row.add(row);
                }
                dataTable.draw();
                $("table#dataTable tbody>tr").each(function (i) {

                    // 删除事件绑定
                    $(this).find("a.deleteMaterial").click(function () {
                        deleteMaterial($(this).parent().parent().attr("data-material"),
                            $(this).parent().parent().attr("data-group"));
                    });


                });
            }else{
                toast("warning","操作失败",res.msg);
            }
        })
    }

    // 删除素材
    function deleteMaterial(materialId,groupId) {
        var formData=new FormData();
        formData.append("ids",[materialId]);
        formData.append("groupId",groupId);
        post("/group/deleteGroupMaterialsByIds",formData,function (res) {
            if(res.success){
                toast("success","操作成功",res.msg);
                $("#queryBtn").click();
            }else{
                toast("warning","操作失败",res.msg);
            }
        })
    }


    // 初始化配置
    function init() {

        //日期选择器绑定
        $('#beginDate,#endDate').mobiscroll().calendar({
            theme: 'ax',
            lang:'zh',
            onBeforeShow:function(event, inst){//显示前的点击事件
                $('#'+this.id).addClass('ax-focus');//input焦点
                //inst.settings.cssClass='ax-mask';//添加遮罩
            },
            onClose: function (event, inst) {//关闭事件
                $('#'+this.id).removeClass('ax-focus');
            },
            display: 'bubble',
        });
    }
</script>
</body>
</html>