<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="email=no"/>
    <meta name="wap-font-scale" content="no"/>
    <meta name="viewport" content="user-scalable=no, width=device-width"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="http://at.alicdn.com/t/font_1551254_sk7y2quxfyq.css" rel="stylesheet" type="text/css"/>
    <link href="https://src.axui.cn/v1.0/src/plugins/fancybox/css/jquery.fancybox.css" rel="stylesheet" type="text/css" >
    <link href="https://src.axui.cn/v1.0/src/plugins/sweetalert2/css/sweetalert2.css" rel="stylesheet" type="text/css" >
    <link href="/plugins/mobiscroll/css/mobiscroll.jquery.css" rel="stylesheet" type="text/css" >
    <link href="/css/ax.css?v=1.1" rel="stylesheet" type="text/css">
    <link href="/css/ax-response.css?v=1.1" rel="stylesheet" type="text/css">
    <link href="/css/ax-admin01.css?v=1.1" rel="stylesheet" type="text/css">
    <link href="https://src.axui.cn/v1.0/src/plugins/sweetalert2/css/sweetalert2.css" rel="stylesheet" type="text/css">
    <link href="https://at.alicdn.com/t/font_1551254_rxrrzgz2kjc.css" rel="stylesheet" type="text/css" />
    <title>景点打卡</title>
</head>
<body>
<div id="maskLayer" style="z-index: -999;background: rgba(0,0,0,.6);position: fixed;height: 100%;width: 100%" class="ax-align-center-center">
    <span class="ax-loading" style="width:60px;height:60px;"><i></i></span>
</div>
<div class="ax-flex-col ax-padding">
    <div class="ax-border ax-shadow-border ax-padding ax-sm">
        <div class="ax-grid ax-space ax-split">
            <ul class="ax-grid-inner" id="header">
                <li class="ax-grid-block ax-col-5">
                    <div class="ax-row ax-input-group ">
                        <span class="ax-title ax-btn">地区选择</span>
                        <div class="ax-flex-block">
                            <input name="cityName" placeholder="输入城市名称" type="text">
                        </div>
                    </div>
                </li>
                <li class="ax-grid-block ax-col-8">
                    <div class="ax-row ax-input-group ">
                        <span class="ax-title ax-btn">打卡日期</span>
                        <div class="ax-flex-block">
                            <div class="ax-row">
                                <div class="ax-col ax-col-12">
                                    <input name="beginDate" placeholder="起始日期" id="beginDate" type="text">
                                </div>
                                <div class="ax-gutter-sm"></div>
                                <div class="ax-col ax-col-12">
                                    <input name="endDate" placeholder="截止日期" id="endDate" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="ax-grid-block ax-col-2">
                    <a href="###" class="ax-btn ax-primary ax-full" id="queryBtn">检索</a>
                </li>
                <li class="ax-grid-block ax-col-2">
                    <a href="###" class="ax-btn ax-full" id="nearbyBtn">附近</a>
                </li>
                <li class="ax-grid-block ax-col-5"></li>
                <li class="ax-grid-block ax-col-2">
                    <a class="ax-btn ax-success ax-full" href="###" id="uploadBtn">打卡</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ax-row ax-margin-top ax-sm">
        <div class="ax-col ax-col-18 ax-margin-right ax-xs" style="height: 100%" id="mapContainer">
        </div>
        <div class="ax-col ax-col-6 ax-border ax-padding ax-sm ax-shadow-border" style="height: 580px;overflow-y: auto">
            <div class="ax-comment" id="viewList" style="overflow-y: auto">

            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------弹窗模版BEGIN--------------------------------------------------------------------->
<!--打卡素材上传弹窗-->
<div class="ax-window"  data-mask="true" id="uploadMaterialAlert">
    <div class="ax-window-overlay"></div>
    <div class="ax-window-contain">
        <a href="###" class="ax-window-close"><i class="ax-iconfont ax-icon-close"></i></a>
        <div class="ax-window-title">景点打卡</div>
        <div class="ax-break-line"></div>
        <div class="ax-window-content">
            <div class="ax-emulate">
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-con">
                            <div class="ax-form-input">
                                <span class="ax-pos-left">打卡标题：</span>
                                <input name="viewName" placeholder="输入打卡标题"  type="text">
                                <span class="ax-pos-right"><a href="###" class="ax-iconfont ax-icon-close ax-val-none"></a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ax-break-md"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-con">
                            <div class="ax-form-input">
                                <span class="ax-pos-left">备注：</span>
                                <textarea name="remarks" cols="" rows="" placeholder="写备注"></textarea>
                                <span class="ax-pos-right"><a href="###" class="ax-iconfont ax-icon-close ax-val-none"></a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ax-break-md"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-con">
                            <div class="ax-form-input">
                                <div class="ax-file" data-placeholder="点击选择头文件" data-text="选择文件">
                                    <input type="file" name="viewImg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ax-break-md"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-con">
                            <div class="ax-form-input">
                                <a href="###" class="ax-avatar ax-xxl" id="viewImg" ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ax-break-line"></div>
        <div class="ax-padding ax-window-operate">
            <div class="ax-row">
                <div class="ax-col">
                    <div class="ax-explain">分享美好的时光吧</div>
                </div>
                <div class="ax-btns">
                    <a href="###" class="ax-btn ax-text ax-ignore ax-window-close">取消</a>
                    <a href="###" class="ax-btn ax-primary ax-window-close" id="materialUploadBtn">确定</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------弹窗模版END--------------------------------------------------------------------->

<script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=wxndwIEGSdxss8hnYWIEE7wvlfAeknLU"></script>
<script src="/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="https://src.axui.cn/v1.0/src/plugins/sweetalert2/js/sweetalert2.min.js" type="text/javascript"></script>
<script src="/plugins/mobiscroll/js/mobiscroll.jquery.min.js" type="text/javascript"></script>
<script src="/js/ax.min.js" type="text/javascript"></script>
<script src="https://src.axui.cn/v1.0/src/plugins/list/list.min.js" type="text/javascript"></script>
<script src="/js/svgSprites.js" type="text/javascript"></script>
<script type="text/javascript" src="https://src.axui.cn/v1.0/src/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="https://src.axui.cn/v1.0/src/plugins/sweetalert2/js/sweetalert2.min.js" type="text/javascript"></script>
<script src="/js/utils.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/js/touch.min.js"></script>
<script src="/js/myTouchImg.js"></script>
<script src="https://src.axui.cn/v1.0/src/plugins/fancybox/js/jquery.fancybox.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {

        // 初始化配置
        init();
        // 初始化地图
        var map = new BMapGL.Map("mapContainer");          // 创建地图实例
        var point = new BMapGL.Point(116.404, 39.915);  // 创建点坐标
        map.centerAndZoom(point, 15);                 // 初始化地图，设置中心点坐标和地图级别
        map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

        // 初始定位显示附近图片
        queryMarkNearby(2,map);

        // 打卡事件绑定
        $("#uploadBtn").click(function () {
            $("#uploadMaterialAlert").addClass("ax-window-show");
            $("#materialUploadBtn").click(function () {
                viewMarkUpload();
            });
        });

        // 查看附近绑定
        $("#nearbyBtn").click(function () {
            queryMarkNearby(2,map);
        });

        // 设置地图点击事件
        map.addEventListener('click', function(e){
            queryViewMarkList(e.latlng);
        });

        // 点击检索事件
        $("#queryBtn").click(function () {
            $("#maskLayer").css("z-index",999);
            queryMarkNearby(1,map);
        });

    });




    // 查询标记附近景点图片
    function queryMarkNearby(type,map) {
        $("#maskLayer").css("z-index",999);
        if(type===1){
            var formData=new FormData();
            var city=$("#header input[name=cityName]").val();
            var beginTime=$("#header input[name=beginDate]").val();
            var endTime=$("#header input[name=endDate]").val();
            if(typeof(beginTime)!==undefined&&beginTime.length>0){
                formData.append("beginTime",beginTime.replaceAll("/","-")+" 00:00:00");
            }
            if(typeof(endTime)!==undefined&&endTime.length>0){
                formData.append("endTime",endTime.replaceAll("/","-")+" 00:00:00");
            }
            if(city.length>0){
                formData.append("city",city);
            }
            showRightList(formData);
            post("/viewMark/queryViewMarkByArea",formData,function (res) {
                $("#maskLayer").css("z-index",-999);
                if(res.success){
                    map.clearOverlays();
                    console.log(res);
                    var records=res.result.records;
                    var lng=0;
                    var lat=0;
                    for(var i=0;i<records.length;i++){
                        lng+=records[i].lng;
                        lat+=records[i].lat;
                        // 创建图标
                        var icon = new BMapGL.Icon(records[i].viewImgUrl, new BMapGL.Size(80, 80));
                        // 创建Marker标注，使用图标
                        var marker = new BMapGL.Marker(new BMapGL.Point(records[i].lng,records[i].lat), {
                            icon: icon
                        });
                        // 将标注添加到地图
                        map.addOverlay(marker);
                    }
                    if(records.length>0){
                        lng=lng/records.length;
                        lat=lat/records.length;
                        map.panTo(new BMapGL.Point(lng,lat));
                    }

                }else{
                    toast("warning","操作失败",res.msg);
                }
            })
        }else{
            var geolocation = new BMapGL.Geolocation();
            geolocation.getCurrentPosition(function(r){
                if(this.getStatus() === BMAP_STATUS_SUCCESS){
                    var geocoder = new BMapGL.Geocoder();
                    geocoder.getLocation(new BMapGL.Point(r.point.lng, r.point.lat), function(result){
                        if (result) {
                            var addComp = result.addressComponents;
                            var formData=new FormData();
                            formData.append("city",addComp.city);
                            showRightList(formData);
                            post("/viewMark/queryViewMarkByArea",formData,function (res) {
                                map.clearOverlays();

                                $("#maskLayer").css("z-index",-999);
                                if(res.success){
                                    var records=res.result.records;
                                    var lng=0;
                                    var lat=0;
                                    for(var i=0;i<records.length;i++){
                                        lng+=records[i].lng;
                                        lat+=records[i].lat;
                                        // 创建图标
                                        var icon = new BMapGL.Icon(records[i].viewImgUrl, new BMapGL.Size(80, 80));
                                        // 创建Marker标注，使用图标
                                        var marker = new BMapGL.Marker(new BMapGL.Point(records[i].lng,records[i].lat), {
                                            icon: icon
                                        });
                                        // 将标注添加到地图
                                        map.addOverlay(marker);
                                    }
                                    if(records.length>0){
                                        lng=lng/records.length;
                                        lat=lat/records.length;
                                        map.panTo(new BMapGL.Point(lng,lat));
                                    }
                                }else{
                                    toast("warning","操作失败",res.msg);
                                }

                            });
                        }else{
                            toast("warning","操作失败","地址解析失败")
                        }
                    });


                }
                else {
                    toast("warning","操作失败","定位解析失败")
                }
            });
        }
    }

    // 查询区域事件
    function queryViewMarkList(point) {
        $("#maskLayer").css("z-index",999);
        var geoc = new BMapGL.Geocoder();
        geoc.getLocation(point, function(rs){
            var addComp = rs.addressComponents;
            var formData=new FormData();
            formData.append("city",addComp.city);
            showRightList(formData);
        })
    }

    // 展示右侧列表
    function showRightList(formData) {
        post("/viewMark/queryViewMarkByArea", formData, function (res) {
            $("#maskLayer").css("z-index", -999);
            if (res.success) {
                $("#viewList").html("");
                var records=res.result.records;
                if(records.length<=0){
                    $("#viewList").append('<div class="ax-empty">\n' +
                        '                <div class="ax-icon"><span class="ax-iconfont ax-icon-empty"></span></div>\n' +
                        '                <div class="ax-title">没有内容</div>\n' +
                        '            </div>');
                }

                for (var i=0;i<records.length;i++){
                    var address=records[i].province+records[i].city+records[i].district;
                    $("#viewList").append('<div class="ax-item">\n' +
                        '                    <a href="###" class="ax-avatar" style="background-image: url('+records[i].userImgUrl+')"></a>\n' +
                        '                    <div class="ax-text">\n' +
                        '                        <div class="ax-row01 ax-row">\n' +
                        '                            <div class="ax-col"><a href="###" class="ax-name">'+records[i].userName+'</a></div><i class="ax-floor">'+(i+1)+'楼</i>\n' +
                        '                        </div>\n' +
                        '                        <div class="ax-row02 viewComment">\n' +
                        '                            <span>'+records[i].viewRemarks+'</span>\n' +
                        '                        </div>\n' +
                        '                        <div class="ax-row04">\n' +
                        '                            <a href="'+records[i].viewImgUrl+'" class="ax-xl"  data-fancybox="btmthumbs">' +
                        '                               <img class="ax-avatar ax-xl" src="'+records[i].viewImgUrl+'" />\n' +
                        '                               <div style="display: none">\n' +
                        '                                   <p>'+records[i].viewRemarks+'</p>\n' +
                        '                               </div>\n' +
                        '                            </a>\n' +
                        '                        </div>\n' +
                        '                        <div class="ax-row03 ax-row">\n' +
                        '                            <div class="ax-col"><span class="ax-time">'+records[i].fateDays+'天前</span></div>\n' +
                        '                            <a href="###" class="ax-action ax-action-reply ax-ell ">\n' +
                        '                                <i class="ax-iconfont ax-icon-pin"></i>' +address+
                        '                            </a>\n' +
                        '                        </div>\n' +
                        '                    </div>\n' +
                        '                </div>').append('<div class="ax-break-line"></div>');
                }
                $('[data-fancybox="btmthumbs"]').fancybox({
                    baseClass: "btmthumbs",
                    thumbs : {
                        autoStart : true,
                        axis      : 'x'
                    },
                    caption : function( instance, item ) {
                        return $(this).find('div').html();
                    }
                });
            }else{
                toast("warning","操作失败",res.msg);
            }
        });
    }


    // 打卡上传事件
    function viewMarkUpload() {
        $("#maskLayer").css("z-index",999);
        // 地址解析服务
        var geocoder = new BMapGL.Geocoder();

        // 定位服务
        var geolocation = new BMapGL.Geolocation({
            enableHighAccuracy: true, //是否使用高精度定位，默认:true
            timeout: 10000, //超过10秒后停止定位，默认：无穷大
            maximumAge: 0, //定位结果缓存0毫秒，默认：0
            convert: true, //自动偏移坐标，偏移后的坐标为高德坐标，默认：true
            showButton: true, //显示定位按钮，默认：true
            buttonPosition: 'LB', //定位按钮停靠位置，默认：'LB'，左下角
            showMarker: false, //定位成功后在定位到的位置显示点标记，默认：true
            showCircle: true, //定位成功后用圆圈表示定位精度范围，默认：true
            panToLocation: false, //定位成功后将定位到的位置作为地图中心点，默认：true
            zoomToAccuracy: true //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
        });

        geolocation.getCurrentPosition(function(r){
            if(this.getStatus() === BMAP_STATUS_SUCCESS){
                geocoder.getLocation(new BMapGL.Point(r.point.lng, r.point.lat), function(result){
                    if (result){
                        var addComp = result.addressComponents;
                        var formData=new FormData();
                        formData.append("province",addComp.province);
                        formData.append("city",addComp.city);
                        formData.append("district",addComp.district);
                        formData.append("lng",r.point.lng);
                        formData.append("lat",r.point.lat);
                        formData.append("userId",localStorage.getItem("userId"));
                        var viewImg=$("#uploadMaterialAlert input[name=viewImg]")[0].files[0];
                        if (typeof (viewImg) != "undefined" && viewImg.size > 0) {
                            formData.append("viewImg",viewImg);
                        }
                        formData.append("viewName",$("#uploadMaterialAlert input[name=viewName]").val());
                        formData.append("viewRemarks",$("#uploadMaterialAlert textarea[name=remarks]").val());
                        post("/viewMark/insertViewMarkInfo",formData,function (res) {
                            $("#maskLayer").css("z-index",-999);
                            if(res.success){
                                toast("success","操作成功",res.msg);
                                $("#queryBtn").click();
                            }else{
                                toast("warning","操作失败",res.msg);
                            }
                        })
                    }else{
                        toast("warning","操作失败","地址解析失败")
                    }
                });
            }
            else {
                toast("warning","操作失败","定位失败")
            }
        });

    }

    // 初始化配置
    function init() {




        $("div.viewComment").axEll({
            textLength: "30",
            foldText: "收起",
            unfoldText: "全部",
            btnClass: "ax-color-primary",
        });


        $("input[name=viewImg]").change(function(){
            // 获取文件对象
            var f = $("input[name=viewImg]")[0].files[0];
            // 获取URL对象
            var URL = window.URL || window.webkitURL;
            // 获取url
            var url = URL.createObjectURL(f);
            $("#viewImg").css("background-image","url('"+url+"')");
        });

        //日期选择器绑定
        $('#beginDate,#endDate').mobiscroll().calendar({
            theme: 'ax',
            lang:'zh',
            onBeforeShow:function(event, inst){//显示前的点击事件
                $('#'+this.id).addClass('ax-focus');//input焦点
                //inst.settings.cssClass='ax-mask';//添加遮罩
            },
            onClose: function (event, inst) {//关闭事件
                $('#'+this.id).removeClass('ax-focus');
            },
            display: 'bubble',
        });
    }
</script>
</body>
</html>