<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lh.entity.User">
        <id column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="user_pwd" property="userPwd" />
        <result column="user_img_url" property="userImgUrl" />
        <result column="gender" property="gender" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="user_type" property="userType" />
        <result column="user_status" property="userStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, user_pwd, user_img_url, gender, mobile, email, user_type, user_status, create_time, update_time
    </sql>

</mapper>
